:root {
    --primary-color: #fb7e14;
    --secondary-color:rgb(201, 197, 197);
    --header-font-color:black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(27, 27, 26);
    min-height: 100vh;
    color: var(--secondary-color);
     background-image: url(/week14_assignment/Images/background-image\ blur.png);
    background-size: 5rem;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    min-width: 100%;
    height: 6rem;
    margin: 0rem;
    padding: 0rem;
    transition: 0.3 ease-in-out;
    background-size: 15%;
    background-repeat: repeat-x;
    border-bottom: solid 3px rgb(0, 0, 0);
    color: var(--header-font-color);
    background: #FB7E14;
    background: -moz-linear-gradient(left, #FB7E14 0%, #E27113 50%, #C66310 100%);
    background: -webkit-linear-gradient(left, #FB7E14 0%, #E27113 50%, #C66310 100%);
    background: linear-gradient(to right, #FB7E14 0%, #E27113 50%, #C66310 100%);
    
}

#action {
    font-family:  Tahoma, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-left: 3rem;
}

#point {
    font-family: tahoma, sans-serif;
    font-weight: 300;
    text-decoration: line-through;
    font-size: 3rem;
    padding-right: 3rem;
    border-right: dotted 0.3rem black;
}

#logo:first-child{
    margin-left: 1rem;
}

header nav {
    margin: 0 auto;
    width: 100%;
}
header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    min-width: 100%;
}

header li {
    font-weight: bold;
    font-size: 1.25rem;
    flex: 1 1 10%;
    transition: 0.2s ease-in-out;
    border-right: solid 2px black;
}


header li:last-child {
    border-right:none;
}

header li:hover {
    color: white;
    text-decoration: underline;
}


.magazine-layout {
    display: grid;
    gap: 20px;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto)  minmax(50px, 1fr) minmax(50px, 150px);
    grid-template-columns: minmax(150px 1fr), minmax(150px 1fr), minmax(0.5fr,1fr) minmax(0.5fr,1fr);

    /*grid Template*/
    grid-template-areas: 
    "header header header header"
    "sidebar image image image"
    "sidebar main main main"
    "footer footer footer footer";
}

.header {grid-area: header;}
.navigation {grid-area: header;}
.pull-quote {grid-area: sidebar;}
.content {grid-area: main;}
.main-image {grid-area: image;}
.footer {grid-area: footer;}

.footer {
    background: #FB7E14;
    background: -moz-linear-gradient(left, #FB7E14 0%, #E27113 50%, #C66310 100%);
    background: -webkit-linear-gradient(left, #FB7E14 0%, #E27113 50%, #C66310 100%);
    background: linear-gradient(to right, #FB7E14 0%, #E27113 50%, #C66310 100%);
    width: 100%;
    height: 100%;
}

.content{
    margin: 2rem auto;
    font-size: 1.2rem;
    line-height: 1.75rem;
    padding: 1rem;
  
}

.content h1 {
    text-align: center;
    font-weight: bold;
    margin: 0.5rem auto 1rem auto;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.content h2 {
    margin: 1.5rem auto 0.7rem;
    font-size: 1.8rem;
    text-align: center;
    color: var(--primary-color);
}

.content h3 {
    margin: 1.2rem auto 1.3rem auto;
}

.content ul {
    margin: 0.5rem auto 1.5rem auto;
}

.content li {
    margin-bottom: 0.5rem;
}

.content p {
    text-indent: 30px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

strong {
    color: white;
}


.pull-quote {
    justify-content: center;
    font-style: italic;
    padding: 1rem;
}

.pull-quote p {
    background-color: rgba(41, 41, 40, 0.678);
    color: white;
    padding: 1rem;
    font-size: 2rem;
    border-right: solid 4px var(--primary-color);
}

.pull-quote p:first-child {
    margin-top: 20rem;
    border-top-right-radius: 0.5rem;
}

.pull-quote p:last-child {
    border-bottom-right-radius: 0.5rem;
}

img {
    border-radius: 0.5rem;
    width: 35rem;
    height: auto;
    display: block;
    margin: 1rem auto;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.849);
}

@media (max-width: 700px) {

.magazine-layout{
    grid-template-areas: 
    "header"
    "image"
    "sidebar"
    "main"
    "footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;

} 

body {
    min-width: 100vh;
    padding: 2rem;
}


.pull-quote p:first-child {
    margin-top: 0rem;

}

img {
    height: 20rem;
    width: auto;
}

.footer {
    background-color: var(--primary-color);
    height: 5rem;
}

}



