
:root {
    --text-color: rgb(0, 0, 0);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


main {

    margin: auto;
}

nav ul {
    display:flex;
    list-style: none;
    background-color: #c48a68;
    padding: 0.5rem;
    border-bottom: 0.2rem black solid;
    transition: 0.3s ease-in-out;
    width: 100%;
    justify-content: center;

}

nav li {
    padding: 0.75rem;
    background-color: #eba780;
    margin-right: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;

}

nav li:hover {
    color: gold;
    background-color: #4631253b;
    transition: 0.2s ease-in-out;
}

a {
    transition: 0.5s ease-in-out;   
}

a:hover{
    color:blue;
    transition: 0.5s ease-in-out;
}

a:focus{
    color: white;
    background-color: rgba(128, 128, 128, 0.815);
    transition: 0.3     s ease-in-out;
}

table {
    margin: 0rem auto 0.5rem auto;
    background-color:rgb(209, 200, 200);
    padding: 1rem;
    color: var(--text-color);
}

caption {
    font-size:1.5rem;
    margin-bottom: 1rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    background-color: #eba780;
    padding: 0.5rem;
    width: 50%;
    margin: 0.5rem auto;

}

.table-container {
    overflow-x: auto;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.452);
    height: 32rem;
    margin: 0rem auto;
    padding: 0rem 1rem;
}

#sales {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border: 0.15rem black solid;
}

#sales thead {
    background-color: #eba780;
}

#sales thead th {
    text-align:center;
    margin: 0rem auto;
    padding: 1rem 0rem;
    font-weight: 1000;
    color: var(--text-color);
}

#sales td {
    margin: 0rem auto;
    padding: 1rem;
    border: 0.15rem black solid;
    text-align: right;
}



#sales th{
     border: 0.15rem black solid;
     text-align: left;
}

#sales tbody th{
    padding-left: 1rem;
    color: var(--text-color);
}

#sales tbody tr:nth-child(even){
background-color:rgb(189, 178, 178);
}

#sales tfoot {
    background-color: #c48a68;
    font-weight: bold;
    color: black;
}

#sales tfoot th {
    padding-left: 1rem;
}


#sales tfoot tr:last-child td{
    text-align: center;

}

#sales tfoot tr:last-child th{
    color: gold;

}

#sales tfoot tr:last-child{
    color: gold;
    font-weight:bold;
    list-style-type:low
}



@media (min-width: 600px) {



caption {
    width: 22%;
    font-size: 2.5rem;
    box-shadow: 0rem 0rem 0.2rem black;
}

table {
    width: 80%;
    margin: 1rem auto;
    box-shadow: 0rem 0rem 0.5rem black;
}

#sales th {
    padding: 1rem 0rem 1rem 0rem;
}

.table-container {
    box-shadow: none;
    font-size: 1.5rem;
    height: 45rem;
}

td:hover {
    color: rgb(158, 44, 44);
    font-size: 1.7rem;
}

#sales tfoot tr:last-child td:hover {
    color: rgb(158, 44, 44);
    font-size: 1.7rem;
}

}