*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'sans-serif', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

:root {
    --primary-color: #528ead;
    --secondary-color: rgb(230, 222, 222);
    --tirtiary-color: white;
    --text-color: black;
    --pull-quote-background: rgba(255, 255, 255, 0.466);

}

body {

    background-color: var(--secondary-color);
}
/*grid layouts*/
.page-layout {
    display: grid;
    grid-template-areas: 
    "header"
    "sidebar"
    "main"
    "footer";
    grid-template-rows: auto, auto, auto, auto ;
    grid-template-columns: 1fr;
}

.blog-page-layout {
    display: grid;

    grid-template-areas: 
    "header"
    "sidebar"
    "image"
    "main"
    "footer";
    grid-template-rows: auto, auto, auto, auto, auto;
    grid-template-columns: 1fr;
}

/*HEADER*/
header {
    grid-area: header;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
    background-image: url(Images/home_images/pattern.png);
    background-size: 3rem;


}

.logo {
    flex: 1 1 2rem;
    margin: 1.5rem auto;
    color: var(--secondary-color);
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    text-decoration: overline underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 10px;
    padding: 1rem auto;

}

.header-container nav {
    width: 100%;
    padding: 0.75rem;
    border-bottom: solid 0.3rem var(--tirtiary-color);
}

.header-container nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    width: 100%;
}


.header-container nav li {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    width: 5rem;
    border-radius: 0.7rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    color: var(--tirtiary-color);
    background-color: var(--tirtiary-color);
    transition: 0.2s ease-in-out;
    
}

.header-container nav a {
     text-decoration: none
}

.navigation a {
    color: var(--primary-color);
}

/*interactive elements*/

.interactive:focus-visible, .header-container a:visited:focus-visible, #button-browse:focus-visible {
    background-color: rgb(194, 194, 194);
    color: blue;
}




.header-container nav li:hover {
        padding: 0.5rem;
        border-radius: 0.6rem;
        background-color: var(--tirtiary-color);
        transition: 0.3s ease-in-out;
        transform: scale(1.2);
        box-shadow: 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.438);
    }


#button-browse:hover /*home*/ {
    color:var(--secondary-color);
    transform: scale(1.2);
    box-shadow: 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.438);
    transition: 0.2s ease-in-out;
}

footer a:visited {
    color: var(--secondary-color);
}
footer a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.navigation a:visited{
    color: rgb(160, 160, 160);
}

#sidebar-nav a:visited /*shop*/{
    color: rgb(45, 45, 212);
}
#sidebar-nav a:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.062);
    padding: 0.3rem;
    border-radius: 0.7rem;
    transition: 0.2s ease-in-out;
}

#top-button:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    box-shadow: 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.438);
    background-color: var(--primary-color);
    border-radius: 0.5rem;

}

.buy-now:hover {
    transform: scale(1.2);
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.548);
    transition: 0.2s ease-in-out;
    color: var(--primary-color);
}

#button-browse:hover /*home*/ {
    color:var(--secondary-color)
}

.social-item a:visited {
     color: rgb(45, 45, 212);
}

.social-item a:hover {
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    transition: 0.2s ease-in-out;

}

.sidebar-category-container li:focus {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;   
}

/*Containers*/


#shop-container /*Shop*/ {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.category-container /*shop*/{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

}

.book-container /*shop*/ {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.category-row /*shop*/{
    display: flex;
    flex-direction: column;
    background-color: var(--tirtiary-color);
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 0.7rem;
    border-right: solid 0.2rem var(--primary-color) ;
    border-left: solid 0.2rem var(--primary-color) ;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
}


#home-welcome /*home*/ {
    max-height: 16.5rem;
    overflow-y: auto;
    }

.browse-container /*Home*/ {
    padding: 2rem 0.5rem;
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--tirtiary-color);
    width: 100%;
    border-radius: 0.7rem;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
    border-right: solid 0.2rem var(--primary-color) ;
    border-left: solid 0.2rem var(--primary-color) ;
}

#blog-contents-container /*blog*/ {
    grid-area: main;
    text-align: left;
}

.sidebar-category-container{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 20rem;
    margin: 0 auto 0rem auto;
    border-radius: 0.7rem;
    padding: 2rem 2rem 0rem 2rem;

}

.blog-ad-image {
    max-height: 1rem;
   
}











/*Images*/
.images-browse {
    height: auto;
    width: 25%;
    max-height: 15rem;
}

.image-shop {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 1rem;
}

.image-blog {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 2rem;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.377);

}

.contact-image-container {
    display: flex;
    justify-content: center;
    background-color: var(--tirtiary-color);
    align-items: center;
    border-radius: 0.7rem;
    margin: 0 auto;
    padding: 2rem;
    border-right: solid 0.2rem var(--primary-color) ;
    border-left: solid 0.2rem var(--primary-color) ;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
    margin-bottom: 2rem;
}

.contact-image {
    width: 100%;
    height: auto;   
}

.category-row h2 {
    font-size: 1.4rem;
    color: var(--primary-color);
    display:inline-block;
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 10px;
}

.category-row h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}









/* text*/
.content {
    text-align:center;
    padding: 2rem;
}

.content-text {
    color: var(--text-color);
    background-color: var(--tirtiary-color);
    border-radius: 0.7rem;
    padding: 1rem 2rem;
    border-right: solid 0.2rem var(--primary-color) ;
    border-left: solid 0.2rem var(--primary-color) ;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
    margin-bottom: 2rem;
}

.content-text h2 {
    font-size: 1.2rem;
    color: var(--primary-color);
    display:inline-block;
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 10px;
}

.content-text h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    margin: 1rem 0 ;
}

.content h4 {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}


.content-text p {
    font-size: 1.6;
    line-height: 2;
    padding-bottom: 0.5rem;

}



.social-item {
    margin-left: auto;
    margin-right: auto;
}

.social-item:last-child {
    margin-bottom: 0;
}

#sidebar-nav-title {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.sidebar-category-container h2 {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 10px;
    margin-bottom: 1rem;
    
}

.blog-article h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:1.5rem;
        text-decoration: none;
        text-decoration-thickness: 0.25rem;
        text-underline-offset: 10px;
        margin: 1rem auto 2rem auto;
        text-align: center;
        padding: 0;
}

#underline {
    display: block;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.25rem;
}






/*buttons*/

#button-browse {
    flex: 1 1 auto;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--tirtiary-color);
    max-height: 2rem;
    max-width: 4rem;
    margin: auto 0rem 0rem 0rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 0.5rem 0.5rem 0.4rem;
    transition: 0.2s ease-in-out;
}

.buy-now {
    animation-name: pulseLogo;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color: rgb(114, 255, 114);
    margin: 1rem auto 0 auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-weight: bold;
    box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.315);
    border: 1px solid black;
    transition:0.2s ease-in-out;
    
}

#top-button {
    display: inline-block;
    background-color: var(--tirtiary-color);
    padding: 0.4rem 0.6rem;
    border-radius: 0.7rem;
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: bold;
    margin: 0rem auto;
    transition: 0.3s ease-in-out;

}

#top-button:focus {
     background-color: rgb(194, 194, 194);
    color: blue;
}







/*sidebar nav*/


#sidebar-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--tirtiary-color);
    border-right: solid 0.2rem var(--primary-color) ;
    border-left: solid 0.2rem var(--primary-color) ;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
    border-radius: 0.7rem;
}

#sidebar-nav li {
    list-style: none;
    margin: 1rem 1rem;
    transition: 0.2s ease-in-out;
    text-align: center;    width: 30%;
}

#sidebar-nav a {
    padding: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}



/*pull-quote*/

.pull-quote {
    grid-area: sidebar;
    padding:  1rem;
    margin: 2rem 2rem 0rem 2rem;
    text-align: center;
    background-color: var(--pull-quote-background);
    border-radius: 0.7rem;
    border-right: solid 0.2rem var(--primary-color);
}

.pull-quote p:first-child {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}










/*Foooter*/
footer {
        grid-area: footer;
}
.footer-container {
    background-image: url(Images/home_images/pattern.png);
    background-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-top: solid 0.3rem var(--tirtiary-color);
    padding: 1rem;
    box-shadow: 0rem -0.5rem 0.5rem rgba(0, 0, 0, 0.356);
    height: 6.5rem;
}

.footer-container p {
    font-size: 0.7rem;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.footer-nav li {
    list-style: none;
    margin: 0 auto;
    width: 7rem;
    text-align: center;
}

#copyright{
    margin-top: 1rem ;
}



@media (min-width:699px) {



    .page-layout {
        grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 18rem 1fr;
        gap: 0.5rem;
    }

    .blog-page-layout{
        grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 1fr 15rem;
        gap: 0.5rem;
    }

    /*header*/
    .header-container {
        flex-direction: row;
        justify-content: space-around;
        border-bottom: solid 4px var(--tirtiary-color);
    }

    .logo {
        white-space: nowrap;
        width: 25%;
        font-size: 3vh;
        max-width: 40rem;
        margin-left: 3rem;
    }

    .header-container nav {
        border-bottom: none;
        padding: 1rem;
        width: 80%;
    }

    .header-container nav li {
        background-color: transparent;
        transition: 0.2s ease-in-out;
        border-radius: 1rem;
    }

    .navigation{
        padding: none;
    }




    /*main*/
    .category-container{
        justify-content: center;
    }

    .book-container {
        flex: 0 0.5 350px;
    }

    .blog-main h2 {
        font-size:2.5rem;
        margin-bottom: 2rem;
    }

     .sidebar-category-container{
        margin: 3rem 1rem 1rem 2rem;
        flex: 0 0 200px;
        background-color: var(--tirtiary-color);
        border-right: solid 0.2rem var(--primary-color) ;
        border-left: solid 0.2rem var(--primary-color) ;
        box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
        padding: 1rem;
    }

    .sidebar-category-container li {
        border-bottom: solid 1px var(--primary-color);
        padding: 1rem;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .sidebar-category-container li:first-child {
        border-top: solid 1px var(--primary-color);
    }

    #sidebar-nav-title {
        background-color: transparent;
        border-right: none;
        border-left: none;
        box-shadow: none;
    }

    #sidebar-nav ul {
        flex-direction: column;
        background-color: transparent;
        border-right: none;
        border-left: none;
        box-shadow: none;
    }

    #sidebar-nav li{
        margin: 0;
        width: 100%;
    }

    .pull-quote{
        justify-content: start;
        padding: 0;
        padding: 2rem 1rem;
        margin: 2rem 2rem auto 0rem;;
        line-height: 1.5rem;
    }

    #top-button {
        font-size: 1rem;
    }
    
    .buy-now {
    width: 7vw;
    font-size: 1rem;
    }

        #home-welcome {
        max-height: none;
        overflow-y: auto;
    }

    .blog-article h2 {
        font-size:2rem;
        margin-bottom:2rem;
    }

    .content-text h2 {
        font-size: 2rem;
    }


    /*footer*/
    .footer-container {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding: 1rem 2rem;
    }

    .footer-nav ul {
        justify-content: end;
    }

    .footer-nav li {
        margin: 0;
    }



    /*images*/
    .images-browse {
    max-height: none;
    }
    .image-shop {
        height: auto;
    }
    .image-blog {
        float: left;
        max-height: 20rem;
        margin: 2rem 2rem 2rem 0;
    }

}

@keyframes pulseLogo {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-color: #121212; 
        --tirtiary-color: #242424;
        --text-color: #ffffff;
        --primary-color: #98c3e8;
        --pull-quote-background: rgba(36, 36, 36, 0.6); 
    }

    .sidebar-category, .content-text, .category-row {
        box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    }
    
    .logo, .pull-quote p {
        color: var(--text-color) !important;
    }

    .logo{
        color: white;
    }

    .content h3 {
        color: var(--primary-color);
    }

    .content h4 {
        color: white;
    }

}