*, *::before, *::after {box-sizing: border-box;
 margin: 0;
padding: 0;
}


:root {
 --primary-color:#045159;
 --secondary-color:#e2dfd5;
 --tertiary-color: #04505952;
}


ul {
   padding: 0;
}

body{
    width: 100vh;
    min-width: 100%
}

/*Header*/
header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 0.2rem black solid;
    width: 100vh;
    min-width: 100%;
    margin: 0rem;
    padding: 0rem;
    background-color:var(--primary-color);
    transition: 0.3 ease-in-out;
    background-image: url(Images/background.png);
    background-size: 15%;
    background-repeat: repeat-x;
}

header nav {
    margin: 0 auto;
    width: 100%;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    text-align: center;
}

header li {
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    flex: 0.1 2 7%;
    margin: 2rem;
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.37);
    transition: 0.2s ease-in-out;
}

header li:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    background-color: #b8b6b1;
    color: white;
}

header li:focus {
    background-color: grey;
    color: black;

}

#logo {
    margin: 0.75rem 1rem 1rem 3rem;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 ;
    color: var(--secondary-color);
    width: 15rem;
    position: relative;
    border-right: dotted var(--secondary-color) 10px;
}

/*Main Layout*/

.content-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.sidebar {
    flex-direction: column;
    border-right: 0.2rem black solid;
    flex: 1 1.5 300px;
    margin: 0rem;
    align-items: center;
    background-color: var(--tertiary-color);
    box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.75),
                inset 0 8px 8px -8px rgba(0, 0, 0, 0.75);
}

.sidebar nav ul {
    list-style: none;
    margin: 0rem auto;
}

.sidebar li {
    font-size: 2rem;
    margin: 0.5rem 0rem;
    padding: 0.2rem 0.5rem 0.2rem 0rem;
    background-color: rgba(240, 238, 238, 0.24);
    height: 3rem;
    text-align: right;   
}

.sidebar li:hover {
    transition: 0.3s ease-in-out;
    background-color: #b8b6b1c0;
    color: white;
}

.sidebar li:first-child {
    margin-top: 0.75rem;
}

.main-contents {
    padding: 2rem;
    width: 100%;
    background: linear-gradient(135deg, #E2DFDA 0%, #C1C1C1 50%, #DDDDDD 100%);
    box-shadow: inset 0 0 0.5rem ;
    padding-bottom: 4rem;
    min-height: 50vw;
}

.main-contents h2 {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    color: var(--primary-color);
}

footer {
    display: flex;
    flex-direction: column;
    height: 5rem;
    background-color:var(--primary-color);
    border-top: solid black 0.2rem;
    color: var(--secondary-color);
    background-image: url(Images/background.png);
    background-size: 15%;
    background-repeat: repeat-x;
    
}

footer p {
    font-size: 1.3rem;
 margin: auto 0rem 0.5rem 1rem ;
}


/*Card Layout*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    flex: 1 1.5 350px;
    border:5px ridge rgb(87, 86, 86);
    border-radius: 0.5rem;
    margin: 2rem 2rem 2rem 2rem;
    background-color: rgb(240, 252, 247);
    transition: 0.3s ease-in-out;

}

.card h3 {
    font-size: 2rem;
    padding: 1rem 0rem;
    text-align: center;
    border-bottom: solid black 2px;
    margin: 0rem 0rem;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}


.card p {
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem;
}

.card p:first-of-type{
     border-bottom: dotted black 3px;
}

.card p:last-child{
    font-size: 0.75rem;
    padding: 0.3rem;
    background-color: rgba(158, 230, 144, 0.5);
    margin: 0.8rem auto;
    width: 8rem;
    border-radius: 1rem;
    justify-content: center;
    font-weight: bold;
}


.card:hover {
    transition: 0.3s ease-in-out ;
    transform: scale(1.05) translate(-5px);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.637);
}

.card #download {
    transition: 0.3s ease-in-out;
}

.card:hover #download:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: rgba(121, 175, 110, 0.651);
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    color: white;
}



.special-card {
    display: inline-block;
    flex: 1 1.5 350px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    margin: 2rem 2rem 2rem 2rem;
    align-self: flex-end;
    border:5px ridge rgb(87, 86, 86);
    background-color: rgb(240, 252, 247);
}

.special-card h3 {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    font-size: 2rem;
    padding: 1rem 0rem;
    text-align: center;
    border-bottom: solid black 2px;
    margin: 0rem 0rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.special-card p {
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem;
}

.special-card p:first-of-type{
     border-bottom: dotted black 3px;
}


.special-card p:last-child{
    font-size: 0.75rem;
    padding: 0.3rem;
    background-color: rgba(158, 230, 144, 0.5);
    margin: 0.5rem auto;
    width: 10rem;
    border-radius: 1rem;
    justify-content: center;
}




/*FONTS*/

#cursive {
    font-family: cursive;

}

#fantasy {
    font-family: fantasy;
    letter-spacing: 1px;

}

#mono-space {
    font-family: monospace;

}

#sans-serif {
    font-family: sans-serif;

}

#system-ui {
      font-family: system-ui;

}

#trebuchet {
    font-family: 'Trebuchet MS';

}




